@import url('https://fonts.googleapis.com/css?family=Lora');

html, body {
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	image-rendering:optimizeQuality;
}

body {
	color: white;
	font-family: 'Lora', serif;
	width: 100%;
    height: 100%;
    background-image:url(../img/splash1.png);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
}


.hero {
/*	margin-bottom: 120px;
*/	padding-top: 20px;
	margin: 0 15px;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

.floatRight {
	float: right;
}

.headline {
	font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.caption {
	font-size: 22px;
}

.logo {
	width: 225px;
	max-width: 225px;
	height: auto;
}

button {
	margin-top: 20px;
	display: inline-block;
	color: #FFFFFF;
	border: none;
	white-space: nowrap;
	box-sizing: border-box;
	outline: 0;
	background: 0 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 500;
	padding: 20px 60px;
	background-color: #FB6262;
	border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	.headline {
		font-size: 48px;
	}
	.caption {
		font-size: 16px;
	}
	button {
		font-size: 20px;
	}
	.gif {
		max-width: 80%;
		width: 80%;
		height: auto;
	}
}